DERIV_APP_ID=
DERIV_API_TOKEN=
DERIV_ENDPOINT=wss://ws.deriv.com/websockets/v3?app_id=${DERIV_APP_ID}
SYMBOLS=R_100;R_75
DISCORD_WEBHOOK=
RISK_TP_PCT=0.30
RISK_SL_PCT=0.30
DAILY_DRAWDOWN=0.20
MAX_CONCURRENT_POS=1
POSITION_NOTIONAL=10
OHLC_INTERVAL=1m
EOD_FLAT_HHMM=2355
